.container{
    width: 1080px;
    background-color: #ddd;
    margin: 0 auto;
}
.divy{
    border: 1px dashed #222;
    height: 200px;
}

#block2{
    height: 70px;
    background-color: black;
    color: aliceblue;
}