body{
}

#header{
        border-color: black;
        border-width: 2px;
        border-style: dashed;
        border-left-color: red;
        border-left-style: solid;
        height: 200px;
}
div,span{ background-color: greenyellow;}
#top{background-color: skyblue;}
.red{
        color:#3c128c;
}
.blue{
        color:blue;
}

.highlight{
        background-color: deeppink;
}