body{
       /* background-color: red;*/
       background-image: url(cat.jpg);
       background-attachment: fixed;
}

#header{
        background:  skyblue url('cat.jpg') no-repeat fixed;
        /*background-image: url(cat.jpg);*/     
        /*background-repeat: no-repeat ;
        
        background-size: cover;
        background-position: center;
        /*background-attachment: fixed;*/
        height: 200px;
}
div,span{ background-color: greenyellow;}
#top{background-color: skyblue;}
.red{
        color:#3c128c;
}
.blue{
        color:blue;
}

.highlight{
        background-color: deeppink;
}