body{
       /* background-color: red;*/
       background-image: url(cat.jpg);
       background-attachment: fixed;
}

#header{
        background-image: url(cat.jpg);
        background-repeat: no-repeat ;
        height: 200px;
        /*background-size: cover;*/
        background-position: center
}
div,span{ background-color: greenyellow;}
#top{background-color: skyblue;}
.red{
        color:#3c128c;
}
.blue{
        color:blue;
}

.highlight{
        background-color: deeppink;
}